<!DOCTYPE html>
<html lang="en">
<head>
  <title>Schoodle</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://fonts.googleapis.com/css?family=Cuprum" rel="stylesheet">
  <script src="https://use.fontawesome.com/d33c8fb29b.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    
  <script type="text/javascript" src="/scripts/create-attendee.js" ></script>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

  <!-- CSS Main-->
  <link rel="stylesheet" href="/styles/layout.css" type="text/css"/>

  <!-- CSS -->
  <link rel="stylesheet" href="/styles/layout.css" type="text/css"/>


</head>

<body>

    <header>
        <% include ./partials/_header %>
      </header>

<main>
  <center>
  
  <h2 id="welcome-display-msg">Welcome to TITLE, let ORGANIZER know what dates are best!</h2> 
  <h3 id="event-description">Description: </h3>
  <h4>Choose your event dates!</h4>

<div class="col-auto">

      <table id="form-section-table" class="table table-bordered">
        <thead>
          <th class="proposal-display-table-headers">Participants</th>
          <% dates.forEach(date => { %>
          <th><%= date.date %></th>
          <% }) %>
        </thead>
        <tbody>
        <form class="form-group row" method="POST" action="/api/v1/events/60b725f10c9c85c70d97880dfe8191b3/attendees">
          <tr class="display-table-row">
            <td id="attendee-input"><input type="text" name="attendeeName" placeholder="Name: " required="required" maxlength="64">
              <input type="email" name="attendeeEmail" placeholder="Email: " required="required" maxlength="64">
              <button type="submit" method="POST" id="attendee-form-submit-button"class="btn btn-primary">Submit</button>
            </td>
            <% dates.forEach(date => { %>
              <td class="proposal-display-table-checkbox">
                <input type="checkbox" name="<%= date.id %>"/>
              </td>
            <% }) %>
          </tr>
        </form>
      </tbody>
      </table>
  </div>
</main>

<footer>
    <% include ./partials/_footer %>
</footer>

  </center>
</body>
</html>
