<!DOCTYPE html>
<html>
<<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>
</head>

<body>
  <center>
  <h1>Choose your dates !!!</h1>

          <label for='date'>Date of Event</label><br>
        <input name='date' id='date' type='date'><br><br>

  <form action="/register" method='POST'>
    <p>
      <input type='name' placeholder="Name" required="required" name='name'/>
      <input type='email' placeholder="email" required="required" name='email'/>
    </p>
    <p>
      <textarea name='description' rows="10" cols="40" maxlength="500" placeholder="Please enter a description for your event here"></textarea>
    </p>
    <p><button type='submit'>Submit</button></p>
  </form>
</center>
</body>
</html>
