<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>
</head>
<body>
  <center>
   <h1>Choose dates !!!</h1>
   <table border="1">
  <thead>
    <th>Participants</th>
    <th>Oct. 26</th>
    <th>Oct. 27</th>
    <th>Oct. 28</th>
    <th>Oct. 29</th>
    <th>Oct. 30</th>
  </thead>
    <tbody>
      <tr>
        <td>Isaiah</td>
        <td><input type="checkbox"></td>
        <td><input type="checkbox"></td>
        <td><input type="checkbox"></td>
        <td><input type="checkbox"></td>
        <td><input type="checkbox"></td>
    </tr>
    <tr>
        <td>Marcus</td>
        <td><input type="checkbox"></td>
        <td><input type="checkbox"></td>
        <td><input type="checkbox"></td>
        <td><input type="checkbox"></td>
        <td><input type="checkbox"></td>
    </tr>
    <tr>
        <td>Mel</td>
        <td><input type="checkbox"></td>
        <td><input type="checkbox"></td>
        <td><input type="checkbox"></td>
        <td><input type="checkbox"></td>
        <td><input type="checkbox"></td>
    </tr>
    <tr>
        <td>Eddy</td>
        <td><input type="checkbox"></td>
        <td><input type="checkbox"></td>
        <td><input type="checkbox"></td>
        <td><input type="checkbox"></td>
        <td><input type="checkbox"></td>
    </tr>
    </tbody>
  </table>
   <p><button type='submit'>Submit</button></p>
  </center>
</body>
</html>
