<!DOCTYPE html>
<html lang="en">
<head>
  <title>Schoodle</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://fonts.googleapis.com/css?family=Cuprum" rel="stylesheet">
  <script src="https://use.fontawesome.com/d33c8fb29b.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <script type="text/javascript" src="/scripts/create-attendee.js" ></script>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

  <!-- CSS Main-->
  <link rel="stylesheet" href="/styles/layout.css" type="text/css"/>


  <!-- CSS -->
  <link rel="stylesheet" href="/styles/layout.css" type="text/css"/>


</head>

<body>

    <header>
        <% include ./partials/_header %>
      </header>

<main>
  <center>

   <h2>Choose your event dates!</h2>

<div class="col-auto">
    <form class="form-group row" method="POST" action="/api/v1/events/60b725f10c9c85c70d97880dfe8191b3/attendees">

      <table id="form-section-table" class="table table-bordered">
        <thead>
          <th class="proposal-display-table-headers">Participants</th>
          <th>Oct. 26</th>
          <th>Oct. 27</th>
          <th>Oct. 28</th>
        </thead>
        <tbody>
          <tr class="display-table-row">
            <td><input type="text" name="attendeeName" placeholder="Name: " required="required" maxlength="64">
              <input type="email" name="attendeeEmail" placeholder="Email: " required="required" maxlength="64"></td>
            <td class="proposal-display-table-checkbox"><input type="checkbox"></td>
            <td class="proposal-display-table-checkbox"><input type="checkbox"></td>
            <td class="proposal-display-table-checkbox"><input type="checkbox"></td>
          </tr>
        <button type="submit" method="POST" id="attendee-form-submit-button"class="btn btn-primary">Submit</button>
    </form>

        <tr class="display-table-row">
          <input type="hidden" value="10">
          <td class="proposal-display-table-attendee-name">Marcus</td>
          <td><i class="fa fa-check" aria-hidden="true"></i></td>
          <td><i class="fa fa-times" aria-hidden="true"></i></td>
          <td><i class="fa fa-check" aria-hidden="true"></i></td>
        </tr>
      </tbody>
      </table>
  </div>
</main>

<footer>
    <% include ./partials/_footer %>
</footer>

  </center>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

</body>
</html>
