<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>
</head>
<body>
  <center>
   <h1>Choose dates !!!</h1>
   <p><button type='submit'>Submit</button></p>
  </center>
</body>
</html>
