<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Schoodle</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>
  <body>
    <div>
      <h1>Have oodles of fun with Schoodle!</h1>
      <h2>The smartest, functional event planner you'll find at Lighthouse.</h2>
      <form action="/event-proposal-form">
      <input type="text" placeholder="What's the occasion?" name="Event"><br>
      <input type="submit" value="Create event">
      </form>

    </div>
  </body>
</html>
