<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>
  </head>

  <body>
    <h1><center>Share your event !!!<center></h1>
    <form action="/xxx" method="xxxxx">
      <center>
        <label for="link">Your link:</label>
        <input id="link" type="text" placeholder="http:// ... grace under pressure :)" style="width: 300px">
      <center>
    </form>
    <h1><center>See your event !!!<center></h1>
    <input type="submit" value="Click here">
  </body>
</html>
