@charset "UTF-8";
body {
  background-color: #FFFFFF;
  font-family: 'Cuprum', sans-serif; }
  body main {
    padding-top: 80px;
    font-family: 'Cuprum', sans-serif; }
  body h1 {
    color: #244751;
    font-size: 40;
    font-style: italic;
    margin: 0 auto;
    text-align: center;
    font-family: ‘Nunito’, sans-serif; }
  body h1:hover {
    animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
    -webkit-stroke-width: 5.3px;
    -webkit-stroke-color: #FFFFFF;
    -webkit-fill-color: #FFFFFF;
    text-shadow: 1px 0px 20px #69DDFF; }
  body form.form-group.row {
    padding: 10px 50px; }
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0); }
  20%, 80% {
    transform: translate3d(2px, 0, 0); }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0); }
  40%, 60% {
    transform: translate3d(4px, 0, 0); } }
  body h2 {
    color: #244751;
    font-size: 30;
    margin: 0 auto;
    text-align: center; }
  body .form-section-table {
    width: 70%; }
  body #attendee-input {
    width: 35%; }
  body #nav-bar {
    position: fixed;
    height: 80px;
    width: 100%;
    background-color: #449DD1;
    color: #e8fdff;
    padding: 0 2em 0 2em;
    top: 0; }
  body #nav-bar .header {
    font-size: 200%;
    line-height: 80px; }
  body .container {
    position: fixed;
    width: auto;
    max-width: 680px;
    padding: 0 15px;
    float: left;
    bottom: 0;
    opacity: 0.5; }
  body .container span {
    font-size: 100%;
    line-height: 60px;
    color: #1B1817; }
  body #share {
    padding-top: 40px; }
  body #witness {
    padding-top: 40px; }
  body #your-link {
    font-size: 24px; }
  body #event-page {
    font-size: 24px; }
  body #see-event {
    width: 200px; }
  body #see-event:hover {
    background-color: #9B5094; }
  body .jumbotron {
    background-color: #EEE; }
  body .lead {
    padding-bottom: 40px; }
  body #create-schoodle {
    width: 300px;
    font-size: 30px; }
  body #create-schoodle:hover {
    background-color: #9B5094; }
  body #SubmitBtn {
    width: 160px;
    font-size: 24px; }
  body #SubmitBtn:hover {
    background-color: #9B5094; }
  body input:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
  body textarea:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
  body #create-schoodle:active {
    background-color: #666699;
    box-shadow: 0 5px #666;
    transform: translateY(4px); }
  body #SubmitBtn:active {
    background-color: #666699;
    box-shadow: 0 5px #666;
    transform: translateY(4px); }
  body #see-event:active {
    background-color: #666699;
    box-shadow: 0 5px #666;
    transform: translateY(4px); }
  body #attendee-form-submit-button {
    padding: 1px 12px; }
  body #attendee-form-submit-button:hover {
    background-color: #9B5094; }
  body #attendee-form-submit-button:active {
    background-color: #666699;
    box-shadow: 0 5px #666;
    transform: translateY(4px); }
  body #event-form-container {
    padding-bottom: 10px;
    border: 1px solid;
    border-color: #1B1817;
    border-radius: 10px;
    width: 450px;
    margin: 0 auto;
    margin-top: 2.5em;
    background-color: #C9F2FF; }
  body #share-page-container {
    padding-bottom: 10px;
    border: 1px solid;
    border-color: #1B1817;
    border-radius: 10px;
    width: 450px;
    margin: 0 auto;
    margin-top: 6em;
    background-color: #C9F2FF; }

/*# sourceMappingURL=layout.css.map */
