body {
  background-color: #FFFFFF;
  font-family: 'Cuprum', sans-serif;
  main {
    padding-top: 80px;
    font-family: 'Cuprum', sans-serif;
  }
  h1 {
    color: #244751;
    font-size: 40;
    font-style: italic;
    margin: 0 auto;
    text-align: center;
    font-family: ‘Nunito’, sans-serif;
  }
  h1:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
  -webkit-stroke-width: 5.3px;
      -webkit-stroke-color: #FFFFFF;
      -webkit-fill-color: #FFFFFF;
      text-shadow: 1px 0px 20px #69DDFF;
}
.my-4 {
  padding-bottom: 45px; 
}

h4 {
  font-size: 1.4em;
  margin-bottom: 15px;
}

form.form-group.row {
  padding: 10px 50px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
  h2 {
    color: #244751;
    font-size: 30;
    margin: 0 auto;
    text-align: center;
  }
  .form-section-table {
    width: 70%;
  }

  #attendee-input {
    width: 35%;
  }

  label {
    margin-left: 20px;
  }
  #datepicker {
    width:180px; margin: 0 20px 20px 20px;
  }
  #datepicker > span:hover{
    cursor: pointer;
  }

  #editBtn {
    margin-left: 30px;
    opacity: 0.8;
  }
  #editBtn:hover {
    background-color: #9B5094
  }
  #editBtn:active {
    background-color: #666699;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
  #nav-bar {
    position: fixed;
    height: 80px;
    width: 100%;
    background-color: #449DD1;
    color: #e8fdff;
    padding: 0 2em 0 2em;
    top: 0;
    z-index: 1;
  }
  #nav-bar .header{
    font-size: 200%;
    line-height: 80px;
  }
  .container {
    position: fixed;
    min-width: 2000px;
    max-width: 2000px;
    height: auto;
    padding: 0 15px;
    float: left;
    bottom: 0;
    background-color: #449DD1;
    z-index: 1;
  }
  .container span {
    font-size: 100%;
    line-height: 60px;
    color: #1B1817;
  }
  #share {
    padding-top: 40px;
  }
  #witness {
    padding-top: 40px;
  }
  #your-link {
    font-size: 24px;
  }
  #event-page {
    font-size: 24px;
  }
  #see-event {
    width: 200px
  }
  #see-event:hover {
    background-color: #9B5094
  }
  .jumbotron {
    background-color: white;
  }
  .lead {
    padding-bottom: 40px;
  }
  #create-schoodle {
    width: 300px;
    font-size: 30px;
  }
  #welcome-display-msg {
    padding: 20px;
    text-decoration: underline;
  }
  #create-schoodle:hover {
    background-color: #9B5094
  }
  #SubmitBtn {
    width: 160px;
    font-size: 24px
  }
  #SubmitBtn:hover {
    background-color: #9B5094
  }
  input:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  textarea:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  #create-schoodle:active {
    background-color: #666699;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
  #SubmitBtn:active {
    background-color: #666699;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
  #see-event:active {
    background-color: #666699;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
  #attendee-form-submit-button {
    padding: 1px 12px;
  }
  #attendee-form-submit-button:hover {
    background-color: #9B5094
  }
  #attendee-form-submit-button:active {
    background-color: #666699;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
  #event-form-container {
    padding-bottom: 10px;
    border: 1px solid;
    border-color: #1B1817;
    border-radius: 10px;
    width: 450px;
    margin: 0 auto;
    margin-top: 2.5em;
    background-color: #C9F2FF;
  }
  #share-page-container {
    padding-bottom: 10px;
    border: 1px solid;
    border-color: #1B1817;
    border-radius: 10px;
    width: 450px;
    margin: 0 auto;
    margin-top: 6em;
    background-color: #C9F2FF;
  }
  #display-page-content {
    padding-bottom: 80px;
  }
}


